<section id ="first-section">
    <div class="header">
        <h1 class="app-name">ExploreNest</h1>
        <img src="../../assets/LOGO.png" alt="ExploreNest Logo" class="logo">
        <nav class="navigation-menu">
            <a href="#" class="menu-link">Mis planes</a>
            <a href="#" class="menu-link">Hoteles</a>
            <a href="#" class="menu-link">Vuelos</a>
            <a href="#" class="menu-link">Actividades</a>
        </nav>
    </div>

    <div class="main">
        <div class = "main-text">
            <h1 class="titulo">Personaliza tu experiencia de viaje</h1>
        </div>
        <div class = "description">
            <p class="d1">Ayudanos a conocerte mejor respondiendo algunas preguntas sobre tus gustos y preferencias.</p>
            <p class="d2">¡Empecemos!</p>
        </div>
    </div>

</section>
