<body>
    <div class="landing-page-container">
        <div class="header">
            <h1 class ="app-name">ExploreNest</h1>
            <img src="../../assets/LOGO.png" alt="ExploreNest Logo" class="logo">
            <nav class="navigation-menu">
                <a href="#" class="menu-link">Mis planes</a>
                <a href="#" class="menu-link">Hoteles</a>
                <a href="#" class="menu-link">Vuelos</a>
                <a href="#" class="menu-link">Actividades</a>
            </nav>
        </div>
    </div>
    <div class="search-box">
        <input type="text" class="search-input" placeholder="Buscar...">
        <span class="search-clear">&times;</span>
    </div>   
    <div class="content-container">
        <div class="text-container">
            <p class="subtitle">Descubre nuevos horizontes desde la seguridad de tu nido</p>
            <h1 class="title">¡Viajar nunca fue tan fácil!</h1>
            <p class="description">Conoce destinos, consigue hospedaje y arma planes, ¡Todo a tu medida!</p>
            <button class="cta-button">¡Personaliza tu experiencia!</button>
        </div>
    </div>
    <!--div id="floating-buttons" [class.hidden]="!showButtons">
        <img src="assets/mi_billetera.png" alt="Mi Billetera" />
        <img src="assets/hoteles.png" alt="Hoteles" />
        <img src="assets/planes.png" alt="Planes" />
        <img src="assets/vuelos.png" alt="Vuelos" />
        <img src="assets/autos.png" alt="Autos" />
      </div-->
</body>
