@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

/*----------Estilos generales----------*/
html{
    height: 100% !important;
}

body{
    background-image: url("../../assets/background-landing.png");
    background-size:cover;
    margin: 0;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%; /* Asegúrate de que el HTML y BODY ocupen todo el ancho */
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sanchez', sans-serif;
    line-height: 1.8;
    /* border: 1px red solid; */
}


.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.full {
    width: 100%;
    display: flex;
    justify-content: center;
}

.half {
    width: 50%;
    display: flex;
    justify-content: center;
}

.three-quarters{
    width: 75%;
}

.quarter{
    width: 25%;
}

/*----------Estilos encabezado----------*/
.app-name{
  font-size: 3.5em;
  color: #032466;
  line-height: 1em;
  font-family: 'League Spartan', sans-serif;
  font-weight: bolder;
}
.logo{
  width: 100px; 
  height: auto;
  max-height:100px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; /* Establece el ancho del encabezado al ancho completo de la página */
    padding: 10px; 
    box-sizing: border-box;
}
.navigation-menu {
    display: flex;
    align-items: center; 
    margin-left: 100px;
    margin-right: 100px;
}

.menu-link {
  text-decoration: none;
  color: #032466;
  margin-left: 150px; 
  font-family: 'Sanchez', sans-serif;
}
/*----------Estilos span----------*/
span {
    font-size: 3.5em;
    font-weight: bolder;
    color: #1A234E;
    line-height: 1em;
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
}

/*----------Estilos formulario----------*/
.contenedor-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: #8f96b0;
}

.input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

#boton-registrarse{
    font-size: 1.5em;
    background-color: #e9951a;
    color: white;
    border: 0;
    border-radius: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*----------Estilos párrafo----------*/
p {
    font-size: 1.5em;
    color: #41547f;
}