/*----------Estilos generales----------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    /* border: 1px red solid; */
}